<h1>Accounting#index</h1>
<div class='container'>

    <table class="table1" >
    	<tr>
    		<th class='col-md-1' >Device Name  </th>
    		<th class='col-md-3'>Device Owner  </th>
    		<th class='col-md-1'>Device Type  </th>
    		<th class='col-md-1'>Action </th>

    	</tr>
    <% @devices.each do |n| %>
    	<td><%= n.device_name %> </td>
      <td><%= n.user.full_name %></td>
    	<td><%= n.device_type %> </td>
    	<td><%= number_to_currency(n.device_upgrade_cost,:unit=> "£") %></td>
    </tr>
    <% end %>
    </table>
  </div>
</div>
