// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#wrap {
  width: 100%;
  margin: 0 auto;
}
#left_col {
  float: left;
  width: 45%;
}
#right_col {
  float: right;
  width:  45%;
}
